table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
text-align: left;
}

img {
    width: 10%;
    height: auto;
}


.tool-name {
    font-weight: bold;
}

.tool-link {
    font-size: 12px;
}


   
