/* #tools {
    .tool {
        border-radius: 15px;
        border: 2px solid #73AD21;

        .tool-name {
            font-weight: bold;
        }
    }
   
} */

img {
    width: 10%;
    height: auto;
}
.tool {
        border-radius: 15px;
        border: 2px solid #40b4e5;
}

.tool-name {
    font-weight: bold;
}

.tool-link {
    font-size: 12px;
}

.grid-container {
    display: grid;
    /* grid-template-columns: auto auto auto; */
    
    justify-content: center;
    grid-gap: 10px;
    /* overflow-wrap: break-word;
    word-wrap: break-word; */
    word-break: break-word;
  
}

.grid-container--fit {
    grid-template-columns: repeat(auto-fit, minmax(400px, 3fr));
}
   
